<div class="card card-component">
	<img src="{{ resort.image }}" class="card-img-top" alt="{{ resort.name }}" />
	<div class="card-body">
		<h5 class="card-title">{{ resort.name }}</h5>
		<div class="rating-meta">
			<div class="rating">{% include 'star.html' %}</div>
			<p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ resort.location }}</p>
		</div>

		<p class="card-text">{{ resort.desc }}</p>
		<div class="available-meta">
			<p class="card-text">Amenities:</p>
			{% include 'amenities.html' %}
		</div>
		<p class="card-text">Price: {{ resort.price }} Ksh</p>
		<button onclick="openlisting('{{ serialized_resorts }}')" href="{{ resort.image }}" class="btn btn-primary">Learn More</button>
	</div>
</div>

<style>
	.card-component {
		max-width: 20rem;
		min-width: 15rem;
		margin: 0 auto;
		margin-top: 20px;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.card img {
		height: 200px;
		object-fit: cover;
	}
	.card-title {
		font-size: 1.8rem;
		font-weight: bold;
		font-style: normal;
		color: rgb(93, 93, 93);
	}
	.card-text {
		font-weight: 400;
		font-style: normal;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	}
	.rating-meta {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.rating-meta > * {
		color: rgb(93, 93, 93);
		margin-right: 1rem;
		width: fit-content;
	}
</style>
