<div class="card listing_display_card" id="listing_card">
	<div class="listing-img-overlay">
		<i class="fas fa-times cancel-icon cancel-listing" id="listing_cancel" onclick="closelisting()"></i>
		<img
			src="https://images.unsplash.com/photo-1566073771259-6a8506099945?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
			class="card-img-top"
			id="resort_image"
			alt="Sample Resort Image"
		/>
		<div class="dark-shade"></div>
		<h5 class="listing-card-title" id="resort_name">Example Resort</h5>
	</div>
	
<!--changed the logic here kidogo-->

	<div class="card-body">
        <button type="button" class="btn btn-primary listing-button">Book</button>
        <button class="btn btn-secondary listing-button">Open Official site</button>
        <h4>Expect to find</h4>
        <div class="amenities-meta" id="resort_amenities">
            {% for amenity in resort.amenities %}
                <div class="amenity">{{ amenity }}</div>
            {% endfor %}
        </div>
        <h4>About the resort</h4>
        <p class="card-text" id="resort_description">{{ resort.description }}</p>
        <div class="available-meta">
            <h4>Trending</h4>
        </div>

<!--end of changes-->		

		<div class="resort-shots" id="resort_shots">
			<!-- {% for image in "*******" %}
			<div class="resort-shot" draggable="false">
				<img src="{{ image.img1 }}" alt="Resort Image" />
				<div class="dark-shade"></div>
			</div>
			{% endfor %} -->
		</div>
	</div>

	<style>
		h4 {
			color: rgb(93, 93, 93);
		}
		.listing_display_card {
			display: none;
			min-width: 60lvw;
			max-width: 80lvw;
			height: 90lvh;
			height: 90vh;
			z-index: 1;
			position: sticky;
			bottom: 5vh;
			bottom: 5lvh;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			box-shadow: 3px 12px 8px 4px rgba(0, 0, 0, 0.2);
			overflow-x: hidden;
			overflow-y: scroll;
			outline: solid 1px rgba(0, 0, 0, 0.5);
			background-color: rgb(234, 234, 234);
		}
		.listing-img-overlay {
			position: relative;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			place-items: center;
		}
		.listing-img-overlay > img,
		.dark-shade,
		.listing-card-title {
			margin: 0;
			grid-row: 1;
			grid-column: 1;
		}
		.listing-card-title {
			color: aliceblue;
			font-size: 250%;
		}
		.resort-shots {
			display: flex;
			flex-direction: row;
			width: 100%;
			overflow-x: scroll;
		}
		.resort-shot {
			position: relative;
			min-width: 15rem;
			margin-left: 1rem;
			height: 95%;
		}
		.resort-shot > img {
			width: 100%;
			object-fit: cover;
		}
		.dark-shade {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.586);
		}
		.cancel-listing {
			z-index: 2;
			position: absolute;
			top: 0.5rem;
			right: 1rem;
			color: aliceblue;
			z-index: 2;
		}
		.cancel-listing:hover {
			cursor: pointer;
			transition: 0.5s;
			transform: rotate(180deg);
			color: rgb(192, 93, 0);
		}
		.cancel-listing:active {
			color: rgb(192, 93, 0);
		}
		.amenities-meta {
			height: fit-content;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.amenity {
			width: fit-content;
			height: 3rem;
			color: rgb(93, 93, 93);
			padding: 1rem;
			align-items: center;
			align-content: center;
			margin-right: 1rem;
			margin-bottom: 1rem;
		}
		.amenity > * {
			margin: 0;
			display: inline-block;
			align-items: center;
		}
		.listing-button {
			margin-bottom: 1rem;
			margin-right: 0.5rem;
			width: 10vw;
			min-width: fit-content;
		}
	</style>
</div>
